
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

@keyframes drift {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.drift {
  animation: drift 6s ease-in-out infinite;
}

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;
